<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    แสดงหน้าข้อมูล

    <div class="col-md-3 product-card mb-4">
        <div class="card h-100">
            <div class="card-body">

            </div>
        </div>


        <canvas id="myChart"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        
        const myChart = new Chart(ctx, {
            type: 'bar', 
            data: {
                labels: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม'], 
                datasets: [
                    {
                        label: 'ยอดขาย 2023',
                        data: [120, 150, 180, 90, 130], 
                        backgroundColor: 'rgba(54, 162, 235, 0.6)' 
                    },
                    {
                        label: 'ยอดขาย 2024',
                        data: [140, 170, 160, 110, 150], 
                        backgroundColor: 'rgba(255, 99, 132, 0.6)' 
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { position: 'top' } 
                },
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
        </script>
        
</body>
</html>