  <a>
    <h4 class="text-light ms-2 text-center">
      Inventory
      <img src="/images/storage.png" alt="logo" class="img-fluid" style="max-width: 40px; vertical-align: middle;">
    </h4>
  </a>
  

    <a href="/public-home"><i class="fa-solid fa-house me-2"></i>Home</a>

    <a href="/public-onhand"><i class="fa-solid fa-warehouse me-2"></i>Stock on-hand</a>
  
    <a href="/public-pending"><i class="fa-solid fa-clipboard-check me-2"></i>Pending Work</a>
    


      



  

  