<!-- Mobile Menu Button -->
<nav class="navbar navbar-dark bg-dark d-lg-none">
    <div class="container-fluid">
        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
            <i class="fa-solid fa-bars"></i>
        </button>
        <h5 class="text-white ms-2">Inventory</h5>
    </div>
</nav>

<!-- Offcanvas Sidebar (Mobile View) -->
<div class="offcanvas offcanvas-start offcanvas-menu" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a href="/"><i class="fa-solid fa-house me-2"></i>Home</a>
        <a href="/trans-out" class="text-wrap"><i class="fa-solid fa-right-from-bracket me-2"></i>บันทึกการ จ่ายออก</a>
        <a href="/trans-in" class="text-wrap"><i class="fa-solid fa-right-to-bracket me-2"></i>บันทึกการ รับเข้า</a>
        <a href="/transaction"><i class="fa-solid fa-right-left me-2"></i>ประวัติการเบิก-คืน Parts</a>
        <a href="/onhand"><i class="fa-solid fa-warehouse me-2"></i>Parts คงเหลือ</a>
        
        <div class="dropdown custom-dropdown">
            <a href="#" class="btn dropdown-toggle text-start text-wrap" 
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-screwdriver-wrench me-1"></i>
                <span class="d-inline-block text-break">จัดการข้อมูล Parts</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item ps-3" href="/add-product">เพิ่ม Parts</a></li>
                <li><a class="dropdown-item ps-3" href="/edit-product">แก้ไข / ลบ Parts</a></li>
            </ul>
        </div>

        <a href="/workorder"><i class="fa-solid fa-clipboard-check me-2"></i>จัดการใบงาน</a>

        <div class="text-center mt-2">
            <% if (user) { %>
                <button type="button" class="btn btn-danger" onclick="logoutUser()">
                    <i class="fa-solid fa-right-from-bracket me-2"></i> ออกจากระบบ
                </button>
            <% } %>
        </div>

    </div>
</div>