<!-- Mobile Menu Button -->
<nav class="navbar navbar-dark bg-dark d-lg-none">
    <div class="container-fluid">
      <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <i class="fa-solid fa-bars"></i>
      </button>
      <h5 class="text-white ms-2">Inventory</h5>
    </div>
  </nav>
  
  <!-- Offcanvas Sidebar (Mobile View) -->
  <div class="offcanvas offcanvas-start offcanvas-menu" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  
    <div class="offcanvas-body">
      <% if (user) { %>
        <a href="/"><i class="fa-solid fa-house me-2"></i>Home</a>
        <a href="/transaction" class="text-wrap"><i class="fa-solid fa-right-left me-2"></i>Parts Transaction</a>
        <a href="/onhand"><i class="fa-solid fa-warehouse me-2"></i>Stock on-hand</a>
  
        <% if (user.role === 'admin') { %>
          <a href="/trans-out" class="text-wrap"><i class="fa-solid fa-right-from-bracket me-2"></i>Issue Parts</a>
          <a href="/trans-in" class="text-wrap"><i class="fa-solid fa-right-to-bracket me-2"></i>Receive Parts</a>
  
          <div class="dropdown custom-dropdown">
            <a href="#" class="btn dropdown-toggle text-start text-wrap" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-screwdriver-wrench me-1"></i>
              <span class="d-inline-block text-break">Manage Parts</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item ps-3 pe-3" href="/add-product">Add New Parts</a></li>
              <li><a class="dropdown-item ps-3 pe-3" href="/edit-product">Edit / Delete Parts</a></li>
              <li><a class="dropdown-item ps-3 pe-3" href="/import-form">Import Excel for Add/Update Parts</a></li>
            </ul>
          </div>
  
          <a href="/workorder"><i class="fa-solid fa-clipboard-check me-2"></i>Manage Repair Work</a>

          <a href="/stock-summary"><i class="fa-solid fa-table-list me-2"></i>Stock Summary</a>
        <% } %>
  
        <!-- Logout -->
        <div class="text-center mt-2">
          <button type="button" class="btn btn-danger" onclick="logoutUser()">
            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
          </button>
        </div>
  
      <% } else { %>
        <!-- ไม่ได้ login -->
        <div class="text-center mt-2">
          <button type="button" class="btn btn-success" onclick="loginRedirect()">
            <i class="fa-solid fa-right-to-bracket me-2"></i> Login
          </button>
        </div>
      <% } %>
    </div>
  </div>
  
  <script>
    function logoutUser() {
      window.location.href = "/logout";
    }
    function loginRedirect() {
      window.location.href = "/login";
    }
  </script>
  